__pycache__
.venv/
.scannerwork/
/service_layer_python/app/__pycache__
/admin_tools/__pycache__
/admin_tools/app/__pycache__
/admin_tools/dataset*
/admin_tools/datasetV110
/admin_tools/datasetV111
/admin_tools/datasetV111_deleted
/admin_tools/iteration1_*
/admin_tools/app/htmlcov
/admin_tools/tmp*
/admin_tools/mini
/admin_tools/app/.coverage
/nodejs/app/.cache
/nodejs/app/dist
/nodejs/app/node_modules
/docker-nginx/log
/docker-nginx/logs
/photosapp/app/node_modules
/node-token-based-authentication/app/node_modules
/postgres_db/data_backup
/rabbitmq/logs/
/rabbitmq/logs/log/
/analysis_video_speech/app/audio-chunks/
/insert_objects/app/__pycache__/
/analysis_object_extraction/yolo_cfg/yolov3.weights
/analysis_video_speech/app/audio-chunks/
/analysis_video_speech/app/__pycache__
rabbitmq/logs/log/crash.log.4
rabbitmq/logs/log/crash.log
/image_src_folder
/image_storage_folder
/image_work_folder
/docker-nginx/certificate
*\idea
*.ogg
*.mov
*.pyc
postgres_db/schema_backup/backup_schema20201020.sql
analysis_face_extraction_v2/app/data_networks/dlib_face_recognition_resnet_model_v1.dat
analysis_face_extraction_v2/app/data_networks/shape_predictor_5_face_landmarks.dat

test/python/46287.jfif
test/python/test.jfif
test/python/test2.jpg
test/python/yolov10x.pt
