
<a routerLink="/album_create" mat-raised-button  matTooltip="Create Album">add</a>

<mat-accordion>

  <mat-expansion-panel *ngFor="let album of albums" (opened)="openGroup(album)">
    <mat-expansion-panel-header>
      <div style="width:80%">
        {{album.title}}
      </div>
      <div style="width : 20%; float:right">
        <a routerLink="/album_detail/{{album.album_id}}"><fa-icon [icon]="faEdit"></fa-icon></a>

      </div>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <mat-card appearance="outlined" *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
        <mat-progress-bar color="primary" mode="indeterminate">
        </mat-progress-bar>
      </mat-card>
      <div id="album-destination" cdkDropList cdkDropListSortingDisabled [cdkDropListData]="album.images" class="gallery" cdkDropListConnectedTo="source-images" (cdkDropListDropped)="drop($event)">
        <div class="imageCard" *ngFor="let image of album.images" cdkDrag>
          <div class="thumbnail">
            <a routerLink="/detail/{{image.image_id}}"><img src='{{image.thumbnail}}' alt='thumbnail' /></a>
            <button mat-button color="warn" (click)="delete(image.image_id)" matTooltip="remove from album" matTooltipClass="test">
              <fa-icon [icon]="faUnlink"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
